= link_to 'New Multiple Choice Question!', new_staffs_question_path(id: nil, question_type: "multiple_choice_question", quiz_id: quiz_id)
br
= link_to 'New Short Answer Question!', new_staffs_question_path(id: nil, question_type: "short_answer_question", quiz_id: quiz_id)
br