- quiz_id ||= nil
= link_to 'New All That Applies Question!', new_staffs_question_path(id: nil, question_type: "all_that_applies_question", quiz_id: quiz_id)
br
= link_to 'New Short Answer Question!', new_staffs_question_path(id: nil, question_type: "short_answer_question", quiz_id: quiz_id)
br
= link_to 'New True False Question!', new_staffs_question_path(id: nil, question_type: "true_false_question", quiz_id: quiz_id)
br